/* CSS Variables */

:root {
  --black-bg: #22223b;
  --neon-green-x: #39ff14;
  --hot-pink-o: #ff2079;
  --blue-border: #00cfff;
  --win-message: #fff338;
  --white-text: #fff;
}

/* Base CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-family: "Press Start 2P", monospace;
  color: var(--white-text);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* CSS Layout */

.nav {
  display: grid;
  grid-template-columns: auto 1fr;
}

.nav-section:nth-child(2) {
  display: grid;
  grid-template-columns: auto 1fr;
}

.results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
}

/* Components */

body {
  background-color: var(--black-bg);
}

#board {
  border: 1px solid var(--blue-border);
}

